gin-config~=0.5.0
gin~=0.1.6
numpy~=1.23.5
torch~=2.0.0
typing~=3.7.4.3
tqdm~=4.65.0
pandas~=1.5.3
gluonts~=0.12.6
scipy~=1.8.1
matplotlib~=3.5.2
fire~=0.4.0
scikit-learn~=1.1.2
statsmodels~=0.13.2
dataclasses~=0.6
orjson~=3.8.12